[user]
  email = chanhun.jeong@navercorp.com
  name = keyolk
    
[core]
	editor = nvim
	pager = less -R

[credential]
  helper = "!pass-git-helper $@"
  useHttpPath = true

[color]
	ui = always

[gpg]
	program = gpg

[github]
	user = keyolk

[ghi]
	token = "!pass github/token/ghi"

[alias]
  st = status
  ci = commit
  br = branch
  co = checkout
  df = diff
  dc = diff --cached
  lg = log -p
  gr = log --all --graph --decorate --oneline

  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"

  edit-unmerged = \
    "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; $EDITOR `f`"

  add-unmerged = \
    "!f() { git ls-files --unmerged | cut -f2 | sort -u ; }; git add `f`"

  url = "!f() { git remote get-url ${1:-origin}; }; f"
  origin2upstream = "!git remote add upstream $(git remote get-url origin)"
  user2remote = "!f() { git remote set-url ${1:-origin} $(git remote get-url ${1:-origin} | sed \"s|https://|https://$(git config user.name)@|g\"); }; f"
	d = difftool
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[diff]
	tool = vimdiff
[difftool]
	prompt = false
