[user]
  email = chanhun.jeong@navercorp.com
  name = keyolk

[alias]
  pr  = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
  pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    
[core]
	editor = nvim
	pager = less -R

[credential]
	helper = cache --timeout 7200

[color]
	ui = always
[gpg]
	program = gpg
[github]
	user = keyolk
[ghi]
	token = fd1fe0b31d7263743c72c8e8995b034d5ad4a93b
